/* The styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: gray;
	margin: auto;
	text-align: center;
	height: 1.5em;
	width: 1110px;	
}

h1 {
	font-size: 140%;
	color: teal;
	margin-bottom: .5em;
}

label {
	float: left;
	width: 7em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
	width: 15em;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button, {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.select-box {
	width: 15em;
}

span {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

br {
	clear: both;
}

/* The styles for the classes */
.pad_top {
	padding-top: 0.25em;
}

.margin_left {
	margin-left: 0.5em;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.user-label {
	width: auto;
	padding-right: 0.5em;
	color: white;
}

.new-emp-label, .emp-list-label {
	width: 125px;
}

/* The styles for the ids */
#login-header {
	width: 700px;
	height: 200px;
}

#HRMLogo {
	width: 50px;
}

#logout-icon {
	width: 20px;
	height: 20px;
}